{% extends "base_site.html" %}

{% load vcfdb_extras %}

{% block extra_head_content %}

{% endblock %}

{% block title %}Non found results{% endblock %}

{% block body %}

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/vcfdb/{{ project_name }}/">Home</a></li>
                <li role="presentation"><a href="mailto:pietrelli@ingm.org?subject=[myVCF] Issue">Contact Developer</a></li>
                <li role="presentation"><a href="/">myVCF Page</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">{{ project_name }}</h3>
    </div>
    <div class="well row text-center">
        <h1>Variant {{ q|upper }} not found</h1>
    </div>
</div>
{% endblock %}

