<html>
<head>
    <title>MyVCF - {% block title %}VCF submitted{% endblock %}</title>
    {% block css %}
    {% load bootstrap3 %}
    {% load static %}

    {# Load CSS and JavaScript #}
    {# Load datatables JS #}
    <script type="text/javascript" src="{% static 'vcfdb/js/jquery-1.11.3.js' %}"></script>


    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vcfdb/css/jumbotron-narrow.css' %}">

    {% block extra_head_content %}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>
    {# Bootstrap Validator Form #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.9.0/validator.min.js"></script>

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <style type="text/css">
    .dl-horizontal.dl-horizontal-notrunc dt {
        float: left;
        width: 160px;
        overflow: visible;
        clear: left;
        text-align: left;
        text-overflow: clip;
        white-space: normal;
    }

    .dl-horizontal dd {
        margin-bottom: .5em;
    }
    </style>

    <script>

    </script>

    {% endblock %}

    {% endblock %}
</head>

<body>
{% block body %}
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/vcfdb/{{ project_name }}/">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="mailto:pietrelli@ingm.org?subject=[myVCF] Issue">Contact Developer</a></li>
                <li role="presentation"><a href="/">myVCF Page</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">myVCF</h3>
    </div>
    <div class="jumbotron">
        <h1>UPLOAD PAGE</h1>
        <p class="lead">Start page for VCF project</p>
    </div>
    <div class="row marketing">
        <div>
            <label class="btn btn-large btn-success">Your VCF has been uploaded!</label>
        </div>
    </div>
    <div class="row well">
        <div class="col-md-8">
            <div class="row">
                <p class="lead">VCF loading statistics</p>
            </div>

            <dl class="dl-horizontal dl-horizontal-notrunc">
                <dt>Number of records</dt>
                <dd>{{ n_record }}</dd>
                <dt>Millisecond per record (average)</dt>
                <dd>{{ record_store_time }}</dd>
                <dt>VCF storing time</dt>
                <dd>{{ vcf_store_time }}</dd>
                <dt>Record loaded per second</dt>
                <dd>{{ n_record_rate }}</dd>
                <dt>VCF Total loading time</dt>
                <dd>{{ loading_time }}</dd>
            </dl>

        </div>
    </div>
    <div class="col-md-12">
        <h4>
            Click on the button below to go back and start to browsing the mutations
        </h4>
    </div>
    <div class="col-md-3">
        <p></p>
    </div>
    <div class="col-md-3">
        <a href="/"><button type="button" class="btn btn-primary">Back to myVCF homepage</button></a>
    </div>
</div>

{% endblock %}
</body>
</html>

